main {
  overflow-y: auto;
  max-height: 100dvh;
}

.vision-wrapper {
  background-image: url(./assets/bg-vectors/vision-bg.png);
  /* background-size: cover; */
  background-repeat: no-repeat;
  position: relative;
}
