main {
  overflow-y: auto;
  max-height: 100dvh;
}

.vision-wrapper {
  background-image: url(/bg-vectors/vision-bg.png);
  background-size: auto;
  background-repeat: no-repeat;
  position: relative;
  height: fit-content;
}
